/* below 3 lines means importing tailwind in your css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* After writing above 3 lines , we are not going to touch our index.css file ever again */

/* .header {
  display: flex;
  border: 1px solid black;
  justify-content: space-between; */

/* .nav-items > ul {
  display: flex;
  list-style-type: none;
  margin: 23px 0;
} */

/* .nav-items > ul > li {
  padding: 10px;
  margin: 10px;
} */

/* .res-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); */
/* grid-template-rows: 320px; */
/* grid-gap: 10px; */
/* } */

/* .res-card { */
/* padding: 5px; */
/* width: 200px;
  height: 350px; */
/* } */

/* .res-card:hover {
  cursor: pointer;
  border: 1px solid black;
} */
/* .filter-btn {
  margin: 10px;
  cursor: pointer;
} */

/* .shimmer-container {
  display: flex;
  flex-wrap: wrap;
} */

/* .shimmer-card {
  width: 200px;
  height: 400px;
  margin: 20px;
  background-color: #f0f0f0;
} */

/* .filter {
  display: flex;
} */

/* .search {
  margin: 10px;
} */

/* .userClass {
  border: 2px solid black;
  padding: 20px;
  margin-top: 10px;
} */
